<mat-card>
    <form class="question-form">
        <mat-card-title>Add Question</mat-card-title>

        <mat-form-field>
            <mat-select placeholder="Category" name="category">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.categoryName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-card-content>
            <mat-list>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Question">
                </mat-form-field>
                <div *ngFor="let index of [1,2,3,4]">
                    <mat-checkbox mat-prefix></mat-checkbox>
                    <mat-form-field class="full-width">
                        <input matInput [placeholder]="'Answer ' + index" />
                        <mat-hint align="end">Answer {{index}}</mat-hint>
                    </mat-form-field>
                </div>
            </mat-list>

            <mat-form-field>
                <input matInput placeholder="Tag">
            </mat-form-field>

            <mat-chip-list>
                <mat-chip> Tag 1 </mat-chip>
                <mat-chip> Tag 2 </mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>SAVE</button>
            <button mat-button>CANCEL</button>
        </mat-card-actions>
    </form>
</mat-card>